.box-model {
  border: 2px solid crimson;
  margin: 15px;
  padding: 10px;
}

.hobbys {
  color: auto;
  margin: 0 auto;
  width: 500px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: rgb(247, 216, 216);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: normal 16px Arial, Helvetica, Tahoma, sans-serif;
  font-family: "Amatic+SC", sans-serif;
  line-height: 1.6em;
  width: 75%;
  min-height: 10vh;
  padding: 0;
  margin: 12%;
}
.centered-wrapper {
  position: toprelative;
  text-align: left;
}

.vb-1 {
  background-color: ghostwhite;
  border: 5px solid aquamarine;
}

.naam {
  background: #d495fd;
  border: 4px solid gold;
  width: 500px;
}
.zark {
  text-align: center;
}
img {
  border-radius: 12px;
  width: auto;
  height: auto;
  float: none;
  padding: 4px;
  border: 1px solid royalblue;
  display: block;
}
  .nav {
    background-color: #333;
    overflow: hidden;
  }
  .nav a {
    text-align: center;
    width: 9%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .nav a.active {
    background-color: #04aa6d;
    color: white;
  }

  .gegevens {
    color: blueviolet;

    margin: 0 auto;
    width: 500px;
  }

  .container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
  }
  .videoResponsive {
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
  }
  .videoResponsive iframe,
  .videoResponsive object,
  .videoResponsive embed {
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
    height: 65%;
  }
  /* Dit grijze blok is een stuk code dat je kan copy pasten in een CSS bestand    
     * en kan aanroepen in je HTML om te zien hoe het eruit gaat zien. 
     * Je kunt het ook alleen doorlezen als je het direct begrijpt.                              
     * /                                                                             
    /* Hiermee wordt de grootte van h1 voor het eerst aangepast van de standaard         
     * browserstyle. */
  h2 {
    font-size: 50px;
  }
  /* Nu komt de browser aan bij de eerste media query. Als het venster een                                                      
   * minimale breedte van 768 pixels heeft wordt deze stijlspecificatie gelezen        
   * en uitgevoerd. Zo **niet**, dan worden ze **niet** gelezen en **niet** uitgevoerd. */
  @media (min-width: 768px);
}
/* De tweede media query. Hetzelfde geldt weer voor de minimal breedte, maar         
   * nu voor 320 pixels. Let op! Een breedte van 800 pixels voldoet aan de eerste      
   * media query, maar ook aan deze! Dat betekent dat de font-size van h1              
   * nogmaals wordt aangepast. */
@media (min-width: 320px) {
  h2 {
    font-size: 10px;
  }
}
/* Als we nu hieronder _nog een keer_ het formaat van h1 aanpassen voert de browser dat        
   * netjes als laatste uit en wordt al ons werk van hierboven overgeschreven, ongeacht de         
   * grootte van het browservenster. */
h2 {
  font-size: 32px;
}
/* Conclusie: de volgorde van je CSS maakt uit. Kijk goed naar je media                
   * queries en redeneer over wat je verwacht aan te treffen op basis van hoe          
   * de browser je code gaat lezen -- van boven naar beneden! */
